data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/outputs/*
!data/outputs/.gitkeep
figures/*
!figures/.gitkeep
powerbi/*
!powerbi/.gitkeep
paper/*
!paper/.gitkeep
venv/
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
*.xlsx
*.docx
.claude/
