data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/outputs/*
!data/outputs/.gitkeep
figures/*
!figures/.gitkeep
!figures/*.png
!figures/*.html
powerbi/*
!powerbi/.gitkeep
!powerbi/*.pbix
paper/*
!paper/.gitkeep
!paper/*.md
!paper/*.pdf
venv/
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
*.xlsx
*.docx
.claude/
